
body {
    background-color: teal;
}

h1 {
    text-align: center;
}

.btn {
    background-color: red;
    width: 200px;
    font-size: 15px;
}
.btnholder {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}
.small {
    font-size: 5px;
}

video {
    margin-left: 10%;
    width: 80%;
    height: auto;
}

iframe {
    margin-left: 10%;
    width: 80%;
    height: 700px;

}